*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #e3dd39;
}
/* .header-el{
    background-color: #141414;
} */
.wrap-el{
    height: 100vh;
    background-image: url('../images/banner-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
}
.container-fluid{
    padding: 0px;
}
.navbar{
    padding: 0px;
    opacity: 0.2;
    /* background:rgb(0, 0, 0);
    opacity: 0.1; */
}
.navbar-brand{
    padding: 0px;
}
div .row{
    margin: 0%;
}
.home-content{
    text-align: center;
}
.btn-el {
    margin-top: 2rem;
    margin-left: 1rem;
    background-color: #492e8b;
    outline: 1px solid #ffffff;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: #121212;
    font-weight: bold;
    letter-spacing: 2px;
}
.main-el{
    padding: 0px;
}
.text{
    color: #84de02;
}
.paragraph {
    padding: 1rem 0rem;
}
.full-width{
     min-height: 100vh;
}
.about-el{
    background-color: #121212;
    /* background-image: url('../images/8793760.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: right; */
}
.card-el{
    background-color: antiquewhite;
}
.download-btn{
    margin-left: 1rem;
    background-color:  #504CA4;
    outline: 1px solid #ffffff;
    padding: 1rem 1.5rem;
    border-radius: 1rem;
    color: #121212;
    font-weight: bold;
    letter-spacing: 2px;
}
.download-btn i {
    color: #ffffff;
    margin-left: 2px;
}
.color{
    color:  #84de02;
}
.card{
    border: 2px solid #800774;
}
.ul-el{
    list-style: none;
}
.about-list-items a{
    text-decoration: none;
    color: #AE3A94;
    font-weight: bold;
    font-family: monospace;
    letter-spacing: 2px;
    padding-bottom: 0.5rem;
}
.about-list-items a:hover{
    border-bottom: 1px solid greenyellow;
}
/* .about-list-items a:visited{
    color: #EB530D;
} */
.sub-title{
    color: #592C85;
}
@keyframes personAnimation{
    0% {
    bottom: 0px
    }
    50% {
    bottom: 20px
    }
    100% {
    bottom: 0px
    }
}
@keyframes personLgAnimation{
    0% {
    bottom: 0px
    }
    50% {
    bottom: 40px
    }
    100% {
    bottom: 0px
    }
}
@media (min-width: 992px) {
    .navbar-collapse {
    display: flex;
    justify-content: end;
}
.navbar-nav > li > a{
   margin-right: 1.2rem;
}
svg{
    height: 440px;
    margin-top: 6rem;
    animation: personLgAnimation 6s linear none infinite;
    position: relative;
}
.home-content {
    margin-top: 4rem;
}
.card{
    width: 75%;
    overflow: hidden;
}
}
@media (min-width: 768px) and (max-width: 991px) {
   svg{
    height: 440px;
    margin-top: 5rem;
    animation: personAnimation 4s ease-in none infinite;
    position: relative;
}
.card{
    width: 60%;
    overflow: hidden;
}
.card-text span{
    display: none;
}
}
@media (min-width: 576px) and (max-width: 767px) {
    svg{
        display: none;
    }
   .home-content{
    margin-top: 6rem;
   }
   .card{
    width: 60%;
    overflow: hidden;
    }
.card-text span{
    display: none;
}
}
@media (max-width: 575px) {
     svg{
        display: none;
    }
   .home-content{
    margin-top: 6rem;
   }
   .card{
    width: 100%;
    height: 130px;
    overflow: hidden;
}


}
/* @media (max-width: 991px){
    .svgContainer-el svg{
        display: none;
    }
    .home-content{
        margin: 5rem 0rem;
    }
}
     */